<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Welcome, <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>!</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Your username is <span th:text="${user.username}"></span>.</p>
                <p class="lead">Your date of birth is <span th:text="${user.dob}"></span>.</p>
                <p class="lead">Your address is <span th:text="${user.addressLine1}"></span> <span th:text=" ${user.addressLine2}"></span> <span th:text=" ${user.postalCode}"></span>.</p>
                <p class="lead">Your phone number is <span th:text="${user.phoneNumber}"></span>.</p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
